table tr, table tr{
    background-color: none !important;
}

.table-striped>tbody>tr:nth-of-type(odd) {
     background-color: transparent !important; 
}


#current_block {
	font-size: 10pt;
	margin: 5px;
}