<div class="counter">
  <div class="counter__segment">
    <span class="counter__label">Days</span>
    <span class="counter__number" ng-bind="days"></span>
  </div>
  <div class="counter__segment">
    <span class="counter__label">Hours</span>
    <span class="counter__number" ng-bind="hours"></span>
  </div>
  <div class="counter__segment">
    <span class="counter__label">Minutes</span>
    <span class="counter__number" ng-bind="minutes"></span>
  </div>
  <div class="counter__segment">
    <span class="counter__label">Seconds</span>
    <span class="counter__number" ng-bind="seconds"></span>
  </div>
</div>
